.Hp{
    padding-left: 90px;
    padding-top: 50px;
    display: flex;
    width: 1920px;
    height: 676px;
    background: rgba(248, 242, 0, 1);
}

.HpCol1{
    display: flex;
    flex-direction: column;
}

.HpRow1{
    width: 624px;
    height: 430px;
}

.HpRow2{

    width: 624px;
    height: 80px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.HpCol2{
    margin-left: 45px;
    width: 624px;
    height: 526px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Header{
    width: 526px;
    height: 126;
    font-family: Archangelsk;
    font-size: 58px;
    font-weight: 400;
   

}

.HpDescription{
    width: 624px;
    height: 125px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.color{
    display: flex;
    gap: 15px;
    align-items: center;
}


