@tailwind base;
@tailwind components;
@tailwind utilities;

input{
  outline: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Скрыть скроллбар в WebKit-браузерах */
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a:hover{
  pointer-events: auto;
}